
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  margin: 0px 150px 547px 150px;
}

.raleway-content {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}
header{
  background-image: url("hero-bg.png");
  padding: 20px;
  background-size: 100%;
}
.logo h3{
  color: #4E47FF;
  font-size: 34px;
  font-weight: 900;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cool{
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  font-style: wrap;
}
.nav-links{
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #4E47FF;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-style: normal;
  font-display: normal;
}
.content{
  text-align: center;
  padding: 20px;
  margin: 158px 267.5px 152px 267.5px;
}
.content-two{
  text-align: center;
  padding: 20px;
  margin: 134px 141px 116px 159px;
}
.he{
  font-size: 42px;
  font-weight: bold;
  color: #252432;
}
.second{
  font-size: 24px;
  font-weight: regular;
  color: #252432;
  opacity: 50%;
  margin-top: 23px;
  margin-bottom: 23px;
}
.webflow{
  border-radius: 48px;
  margin-right: 220px;
}